/* CSS Responsive WebAgency */

/*********************************  DEFAULT ****************************************/

/* --------------------------- HEADER ------------------------------- */
nav{
	margin-left: 0px;
	padding-bottom: 0px
}

/* Pour pouvoir les ancres */
.ancres{
	display: block;
  	height: 148px; /*same height as header*/
  	margin-top: -148px; /*same height as header*/
  	/*visibility: hidden;*/
}

/* --------------------------- SLIDER ------------------------------- */

	#slider_description {
	    width: 35%;
	    bottom: 30%;
	    left: 50px;
	}

	#slider_description h1{
		font-size:2vmax;
	}

	#slider_description p{
		padding-bottom: 10px;
		font-size:2vmin;
	}

/* --------------------------- SECTIONS ------------------------------- */

section{
	margin:auto;
	width: 92%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/*********************** SERVICES **************************/

#description_services{
	display: flex;
	flex-direction:column;
	align-items:center;
}

#image_services{
	vertical-align: center;
}

#image_services img{
	width: 100%;
}

#description{
	width: 50%;
	margin-left: 100px;
}

#description p{
	width: 100%;
}

/************************ PORTFOLIO ***********************/

/*.container{
	width: 100%;
}

.text{
  	font-size: 2vmax;
}
*/
/*
.eye{
    position: absolute;
	font-size: 0.7em;
    border-radius: 50%;
    width: 10%;
    height: 40%;
    top: -20%;
  	left: 80%;
}*/

/* --------------------------- CONTACT ------------------------------- */
#formulaire {
	width: 30%;
	height: 70%;
	right: 5%;
}

#formulaire input[type=text], #formulaire input[type=email], #formulaire textarea{
    width: 90%;
}

#formulaire textarea{
	height: 100px;
}


/************************************** MEDIA PERSO ***************************************/
/* --------------------------- RESPONSIVE ------------------------------- */
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
	#slider_description{
		bottom: 41%;
	}

	#slider_description h1{
		font-size:2vmax;
	}

	#slider_description p{
		padding-bottom: 10px;
		font-size:2vmin;
	}

	.bouton_info{
		font-size:2vmin;    
		padding: 5px;
		overflow: visible;
	}

	#arrow_left, #arrow_right{
	    bottom: 45%;
	}

	#arrow_left, #arrow_right{
	    bottom: 35%;
	}

	.container{
		width: 40%;
	}

	.text{
	  	font-size: 2vmin;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 

	#slider_description h1{
		font-size:2vmax;
	}

	#slider_description p{
		padding-bottom: 10px;
		font-size:2vmin;
	}

	.bouton_info{
		font-size:2vw;    
		padding: 5px;
		overflow: visible;
	}

	#arrow_left, #arrow_right{
	    bottom: 35%;
	}

	.container{
		width: 40%;
	}

	.text{
	  	font-size: 2vmin;
	}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  header{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		padding-top:10px;
		padding-bottom: 0px;
	}

	.logo{
		width: 10%;
	}

	.ancres{
		display: block;
	  	height: 50px; 
	  	margin-top: -50px; 
	}

	nav ul{
		margin:5px;
		padding:0px;
	}

	nav a:hover{
    	color: #555555;
    	border-bottom: 3px solid #5CADD3;
    	border-top: 0px;
	}

	#slider_description {
	    width: 35%;
	    bottom: 30%;
	    left: 50px;
	}

	#slider_description h1{
		font-size:2vmax;
	}

	#slider_description p{
		padding-bottom: 10px;
		font-size:2vmin;
	}

	.bouton_info{
		font-size:2vw;    
		padding: 5px;
		overflow: visible;
	}

	#arrow_left, #arrow_right{
		width: 70px;
		height: 70px;
		top:35%;
		bottom: 34%;
	}

	.container{
		width: 50%;
	}

	.text{
	  	font-size: 2vmax;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	header{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		padding-top:10px;
		padding-bottom: 0px;
	}

	.logo{
		width: 50%;
	}

	nav a:hover{
    	color: #555555;
    	border-bottom: 3px solid #5CADD3;
    	border-top: 0px;
	}

	#slider_description {
	    width: 35%;
	    bottom: 16%;
	    left: 50px;
	}

	#slider_description h1{
		font-size:2vmax;
	}

	#slider_description p{
		padding-bottom: 10px;
		font-size:2vmin;
	}

	.bouton_info{
		font-size:2vw;    
		padding: 5px;
		overflow: visible;
	}

	#arrow_left, #arrow_right{
		width: 70px;
		height: 70px;
		top:26%;
		bottom: 25%;
	}

	.ancres{
		display: block;
	  	height: 104px; 
	  	margin-top: -104px; 
	}

	section h2 {
	    font-size: 1.5em;
	}

	#UX{
		bottom: 76%;
		left: -100px;
	}

	#UI{
		bottom: 43%;
		left: -100px;
	}

	#SEO{
		bottom: 14%;
		left: -100px;
	}

	#menu_projets li{
		padding: 7px;
	}

	.container{
		width: 100%;
		margin-right: 20px;
	}

	.text{
	  	font-size: 2vmax;
	}

	#formulaire{
		width: 80%;
		height: 43%;
		display: flex;
		bottom: 5%;
	}

	#formulaire h1{
		font-size: 2vmax;
		margin-top:2px;
	}

	#formulaire p{
		font-size: 3vmin;
	}


	#formulaire input[type=text], #formulaire input[type=email], #formulaire textarea{
	    font-size: 2vmax;
	}

	#bouton_form{
		font-size: 2vmax;
	}

	#formulaire textarea{
		height: 50px;
	}
  
}
